$navbar-default-bg: #073B15;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('MyRecipeCover');
  background-size: cover;
  height: 300px;
}

#logo {
  float: left;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron h1, h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  background-color: #073B15;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}

.bs-docs-footer {
  background-color: #073B15;
  color: #fff;

}

.bs-docs-footer-links ul {
  display: block;
  clear: both;
}

.bs-docs-footer-links li {
  list-style: none;
  color: #fff;
  display: inline-block;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.bs-docs-footer-links a {
  color: #fff;
}

.footer-p {
  float: right;
  padding-top: 5px;
}